@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Barlow", sans-serif;
    font-style: normal;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

header{
    height: 6rem;
    width: 100%;
    background-color: #03D;
    display: flex;
    align-items: center;
    padding: 30px 20px;
    justify-content: space-between;
    box-sizing: border-box;
}

 #logo{
    width: 210px;
    height: 53px;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul{
    width: 100%;
    justify-content: center;
    gap: 3rem;
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
}

.categorias{
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
}

.categorias:hover{
    text-decoration: underline;
}

.botoes {
    display: flex;
    align-items: center;
    gap: 20px;     
}

#buttons{
    width: 180px;
    height: 40px;
    flex-shrink: 0;
    background-color: #D9D9D9;
    font-weight: bold;
    color: #0033DD;
    border: none;
    font-size: 16px;
}

#menu {
    margin-right: 40px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0; 
    align-items: center;
    margin: 0px;
}

/* BANNER */

main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner{
    display: flex;
    overflow: hidden; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/bg_banner1.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    width: 100%;
    height: 35rem;
}

 #title-banner{
    margin-top: 130px;
    padding: 20px;
    color: #FFF;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.elements_banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button#banner{
    width: 180px;
    height: 40px;
    flex-shrink: 0;
    color: #D9D9D9;
    font-weight: bold;
    background-color: #0033DD;
    border: none;
    font-size: 16px;
    margin-bottom: 150px;
}

/* SESSÃO CONTEÚDO */

.conteudo{
    width: 100%;
    background-color: #202020;
}

.terra{
    display: flex;
    align-items: center;
    color: #FFF;
    width: 100%;
}

#coluna-texto1{
    display: flex;
    justify-content: flex-start;
    flex: 1;
    margin-top: 16px;
    color: #FFF;
    flex-direction: column;
}
#texto1{
    margin-left: 40px;
    font-size: 12px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    color: #FFF;
    text-transform: uppercase;
}

#texto2{
    margin-top: 38px;
    margin-left: 40px;
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#paragrafo1{
    margin-top: 25px;
    margin-left: 40px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.link-destaque{
    margin-top: 20px;
    margin-left: 58px;
    color: #FFF;
    display: flex;
    align-items: center;
    gap: 1rem;
}

#one{
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

#imagem1{
    margin-right: 16px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    flex: 1;

}

.assento{
    display: flex;
    align-items: center;
    color: #FFF;
}

#imagem2{
    margin-left: 16px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex: 1;
}

#coluna-texto2{
    display: flex;
    justify-content: flex-end;
    flex: 1;
    margin-top: 36px;
    margin-right: 62px;
    margin-left: 23px;
    color: #FFF;
    flex-direction: column;
}

#texto3{
    font-size: 12px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}

#texto4{
    margin-top: 24px;
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#paragrafo2{
    margin-top: 48px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.link-destaque2{
    margin-top: 22px;
    margin-left: 43px;
    color: #FFF;
}

#two{
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

/* SECTION CAREERS */

.careers{
    width: 100%;
    padding: 80px 20px;
    box-sizing: border-box;
    background-color: #D9D9D9;
}

.titulo-secao {
    text-align: center;
    color: #03D;
    font-size: 60px;
    /* font-style: extralight; */
    font-weight: 275;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}

.container-careers{
    box-shadow: 0 4px 10px;
    background-color: #0033DD;
    width: 400px;
    height: 550px;
    box-sizing: border-box;
}

.container-careers img {
    width: 100%;
    height: 267px;
    display: block;
}

.careers-banner {
    padding: 30px;
    color: #fff;
    display: flex;
    flex-direction: column; 
    flex-grow: 1;
    justify-content: space-between;
    height: 53%;
}

#txt-conteudo {
    margin-bottom: 15px;
    font-family: Barlow;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.p-conteudo {
    line-height: 1.5;
    margin-bottom: 25px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn-learn-more{
    color: #0033DD;
    background-color: white;
    text-decoration: none;
    width: 152px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

/* FOOTER */

footer{
    width: 100%;
    display: flex;
    align-items: center;
}

.coluna1{
    background-color: #202020;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}
.coluna1#pena{
    width: 100px;
    height: 40px;
}
#pena img{
    width: 100%;
    max-width: 400px;
    height: auto;
    align-items: 500px;
    margin-bottom: 2.5rem;
}

#pena-check{
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 0.75rem;
    letter-spacing: 0.5px;
    margin-bottom: 2.5rem;
}

#pena-p{
    color: #FFF;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: underline;
    margin: 0 0.5rem;
}

.coluna1 hr{
    height: 90%;
    width: 0.01rem;
    background-color: white;
}


.coluna2{
    background-color: #383838;
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 2em 2em;
    gap: 1rem;
    font-weight: 600;
}


.footer-pena{
    width: 360px;
    height: 486px;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: center;

}
form{
    background: rgba(255, 255, 255, 0.50);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1em 1em;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.align-inputs{
    color: #1e1e1e;
    font-size: 20;
    font-weight: 400;
    min-width: 26rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.align-inputs input, textarea{
    border: 1px solid #d9d9d9;
    background-color: white;
    width: 100%;
    min-width: 240px;
    padding: 12px 16px;
}

form button{
    width: 100%;
    background-color: #2c2c2c;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;

    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}


